.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 8px 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0px rgb(0 0 0 / 25%);
}

.Header_user {
  height: 100%;
  font-weight: 500;
  font-size: 17px;
}
