.FriendCard {
  display: flex;
  align-items: center;
  height: 100%;
}

.FriendCard_pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.FriendCard_name {
  margin-left: 12px;
}
